services:
  mc-proxy:
    image: itzg/mc-proxy:latest
    environment:
      REPLACE_ENV_VARIABLES: "true" # enable env var replacement
      REPLACE_ENV_DURING_SYNC: "true" # also replce env vars in synced directories
      REPLACE_ENV_VARIABLE_PREFIX: "CFG_" # prefix for variables to replace
      REPLACE_ENV_SUFFIXES: "secret" # manually override replacement suffixes

      # define env var replacements
      CFG_BSTATS_ENABLED: "false"
      CFG_FORWARDING_SECRET_FILE: "/run/secrets/forwarding_secret"
      CFG_RCON_ENABLE: "true"
      CFG_RCON_PASSWORD_FILE: "/run/secrets/rcon_password"

      # configure proxy server
      TYPE: VELOCITY
      ENABLE_RCON: "true"
      PLUGINS_FILE: /extra/plugins.txt

    ports:
      - "25565:25565/tcp"
      - "25575:25575/tcp"
    volumes:
      - ./config:/config:ro
      - ./plugins:/plugins:ro
      - ./extra:/extra:ro
      - server:/server
    secrets:
      - forwarding_secret
      - rcon_password

volumes:
  server:

secrets:
  forwarding_secret:
    environment: MINECRAFT_SERVER_VELOCITY_PROXY_FORWARDING_SECRET
  rcon_password:
    environment: MINECRAFT_SERVER_VELOCITY_PROXY_RCON_PASSWORD
