services:
  mc-proxy:
    image: itzg/mc-proxy:latest
    environment:
      TYPE: VELOCITY
      DEBUG: "false"
      ENABLE_RCON: "true"
      PLUGINS_FILE: /extra/plugins.txt
      REPLACE_ENV_VARIABLES: "true" # enable env var replacement
      REPLACE_ENV_VARIABLE_PREFIX: "CFG_" # prefix for variables to replace
      REPLACE_ENV_SUFFIXES: ".secret"
      CFG_VELOCITY_FORWARDING_SECRET: "${CFG_VELOCITY_FORWARDING_SECRET}"
    ports:
      - "25565:25565/tcp"
    volumes:
      - ./config/forwarding.secret:/server/forwarding.secret
      - ./config/bstats-config.txt:/server/plugins/bStats/config.txt
      - ./config/plugins.txt:/extra/plugins.txt
      - ./config/server-icon.png:/server/server-icon.png
      - ./config/velocity.toml:/server/velocity.toml
      - server:/server

volumes:
  server:
