services:
  mc-proxy:
    image: itzg/mc-proxy:latest
    environment:
      REPLACE_ENV_VARIABLES: "true" # enable env var replacement
      REPLACE_ENV_DURING_SYNC: "true" # also replce env vars in synced directories
      REPLACE_ENV_VARIABLE_PREFIX: "CFG_" # prefix for variables to replace
      REPLACE_ENV_SUFFIXES: "secret" # manually override replacement suffixes

      # define env var replacements
      CFG_BSTATS_ENABLED: "false"
      CFG_VELOCITY_PROXY_FORWARDING_SECRET_FILE: "/run/secrets/velocity_proxy_forwarding_secret"

      # configure proxy server
      TYPE: VELOCITY
      ENABLE_RCON: "true"
      PLUGINS_FILE: /extra/plugins.txt

    ports:
      - "25565:25565/tcp"
    volumes:
      - ./config:/config:ro
      - ./plugins:/plugins:ro
      - ./extra:/extra:ro
      - server:/server
    secrets:
      - velocity_proxy_forwarding_secret

volumes:
  server:

secrets:
  velocity_proxy_forwarding_secret:
    environment: MINECRAFT_SERVER_VELOCITY_PROXY_FORWARDING_SECRET
