services:
  mc-proxy:
    image: itzg/mc-proxy:latest
    environment:
      TYPE: VELOCITY
      DEBUG: "false"
      ENABLE_RCON: "true"
      PLUGINS_FILE: /extra/plugins.txt
      REPLACE_ENV_VARIABLES: "true" # enable env var replacement
      REPLACE_ENV_VARIABLE_PREFIX: "CFG_" # prefix for variables to replace
      CFG_VELOCITY_FORWARDING_SECRET: "${CFG_VELOCITY_FORWARDING_SECRET}"
    ports:
      - "25565:25565/tcp"
    volumes:
      - ./config/forwarding-secret.cfg:/config/forwarding-secret.cfg:ro # must end in .cfg for env replacement to pick up
      - ./config/bstats-config.txt:/server/plugins/bStats/config.txt:ro
      - ./config/plugins.txt:/extra/plugins.txt:ro
      - ./config/server-icon.png:/server/server-icon.png:ro
      - ./config/velocity.toml:/server/velocity.toml:ro
      - mc-proxy-server:/server

volumes:
  mc-proxy-server:
